<div class="row">
  <div class="col-sm-6 col-md-10">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Question Content:</strong>
      <%= @question.content %>
    </p>

    <p>
      <strong>Answer:</strong>
      <%= @question.answer %>
    </p>

    <%= link_to 'Edit', edit_question_path(@question) %> |
    <%= link_to 'Back', questions_path %>
  </div>
</div>
